########################################################################
# Scale
########################################################################

style "scale"
{
	GtkRange::slider_width = 16
	
	engine "pixmap"
	{
### Trough ###
		image
		{
			function = BOX
			detail = "trough"
			file = "scale/trough-horiz.png"
			border = {8, 8, 2, 2}
			stretch	= TRUE
			orientation	= HORIZONTAL
		}

		image
		{
			function = BOX
			detail = "trough"
			file = "scale/trough-vert.png"
			border = {2, 2, 8, 8}
			stretch	= TRUE
			orientation	= VERTICAL
		}

### Slider ###
		image
		{
			function = SLIDER
			file = "scale/slider-horiz.png"
			stretch	= TRUE
			border = {9, 9, 4, 4}
			overlay_file = "scale/thumb-h.png"
	     	overlay_stretch = FALSE
			orientation	= HORIZONTAL
		}

		image
		{
			function = SLIDER
			file = "scale/slider-vert.png"
			stretch	= TRUE
			border = {4, 4, 9, 9}
			overlay_file = "scale/thumb-v.png"
			overlay_stretch	= FALSE
			orientation	= VERTICAL
		}
		
### Focus ###
		image 
		{
			function = FOCUS
			file = "null.png"
		} 
	}
}

class "GtkRange*" style "scale"

